*{
    color:chocolate;
}



h1{
    color:blueviolet;
}


body{
   background-color:#ff0000;
}

button{
    background-color: violet;
}
#headingone{
    color:cornflowerblue;
}
.myclass{
    color:magenta;
}